@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color:white
}
body,html{
  background-color: #282c34;
  font-family: 'Open Sans', sans-serif;
}